<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
  backupStaticAttributes="false"
  bootstrap="vendor/autoload.php"
  colors="true"
  convertErrorsToExceptions="true"
  convertNoticesToExceptions="true"
  convertWarningsToExceptions="true"
  processIsolation="false"
  stopOnFailure="false"
  syntaxCheck="true">
  <testsuites>
    <testsuite name="Jmg">
      <directory>./Tests</directory>
    </testsuite>
  </testsuites>
  <filter>
    <blacklist>
      <directory suffix=".php">./vendor</directory>
      <directory suffix=".php">./Tests</directory>
    </blacklist>
  </filter>
  <!--
  <listeners>
    <listener class="League\PHPUnitCoverageListener\Listener">
      <arguments>
        <array>
          <element key="printer">
            <object class="League\PHPUnitCoverageListener\Printer\StdOut"/>
          </element>
          <element key="hook">
            <object class="League\PHPUnitCoverageListener\Hook\Travis"/>
          </element>
          <element key="namespace">
            <string>Thapp\JitImage</string>
          </element>
          <element key="repo_token">
            <string>02UM320UDUUm2ttTUExonaz7xuBLiFAPL</string>
          </element>
          <element key="target_url">
            <string>https://coveralls.io/api/v1/jobs</string>
          </element>
          <element key="coverage_dir">
            <string>/tmp/coverage/</string>
          </element>
        </array>
      </arguments>
    </listener>
  </listeners>
  -->
  <logging>
    <log type="coverage-text" target="php://stdout" showUncoveredFiles="true"/>
    <log type="coverage-clover" target="/tmp/coverage/coverage.xml" />
  </logging>
</phpunit>
